@model SlotWise.Web.DTOs.UserDTO
@{
    ViewData["Title"] = "Nuevo Usuario";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Inicio</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Usuarios</a></li> 
            <li class="breadcrumb-item active">Nuevo usuario</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">
    <div class="card">

        <div class="card-header">
            <h3 class="m-0 font-weight-bold text-primary">Nuevo usuario</h3>
        </div>

        <div class="card-body mt-3">
            <form asp-action="Create" method="POST" class="row g-3">
                <!-- Username -->
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="UserName" class="form-control" placeholder="Nombre de usuario">
                        <label asp-for="UserName"></label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <!-- Contraseña -->
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="PasswordHash" type="password" class="form-control" placeholder="Contraseña">
                        <label asp-for="PasswordHash"></label>
                        <span asp-validation-for="PasswordHash" class="text-danger"></span>
                    </div>
                </div>

                <!-- Nombres -->
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="FirstName" class="form-control" placeholder="Nombres">
                        <label asp-for="FirstName"></label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <!-- Apellidos -->
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="LastName" class="form-control" placeholder="Apellidos">
                        <label asp-for="LastName"></label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <!-- Cédula -->
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="CC" class="form-control" placeholder="Cédula">
                        <label asp-for="CC"></label>
                        <span asp-validation-for="CC" class="text-danger"></span>
                    </div>
                </div>

                <!-- Edad -->
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Age" class="form-control" placeholder="Edad">
                        <label asp-for="Age"></label>
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                </div>

                <!-- Fecha de nacimiento -->
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Birthdate" type="date" class="form-control" placeholder="Fecha de nacimiento">
                        <label asp-for="Birthdate"></label>
                        <span asp-validation-for="Birthdate" class="text-danger"></span>
                    </div>
                </div>

                <!-- Botones -->
                <div class="text-center mt-3">
                    <button class="btn btn-primary" type="submit">
                        <i class="bi bi-save"></i> Guardar
                    </button>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Volver
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}